.node {
  outline: 1px solid rgb(175, 216, 248);
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: #a5672a;
}
.white {
  background-color: #dfc990;
}

.red {
  background-color: #c1db4cbf;
}
.node-finish {
  background-color: red;
}

.green {
  background-color: green;
}
