.node {
  outline: 1px solid rgb(175, 216, 248);
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: #1d1e25;
}
.white {
  background-color: #eeeeee;
}
.queenNode_active {
  background-color: rgb(121, 191, 228);
}

.queenNode_hasQueen {
  background-color: rgb(20, 26, 134);
}

.node-finish {
  background-color: blue;
}
