.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/brain_bg_full.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  flex-direction: column;
}
.home_header {
  color: var(--grey);
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  margin-top: 2rem;
  margin-bottom: 0;
}
.home_slider {
  width: 42%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.slide_image {
  /* height: 600px; */
  width: 100%;
}
.slide_image:hover {
}
.pro_logo {
  width: 280px;
  margin-top: 3rem;
  margin-bottom: -3rem;
}
