.pathFinder-node {
  width: 40px;
  height: 40px;
  outline: 1.5px solid #c6c6c6;

  display: flex;
  justify-content: center;
  align-items: center;
}
.node-icon {
  font-size: 4rem !important;
  color: black;
}
.grey {
  background-color: var(--grey);
}

.pathFinder-node-finish {
  background-color: red;
}
.red {
  background-color: red;
}
.pathFinder-node-start {
  background-color: green;
}

.pathFinder-node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: #00d99fbf;
  }

  100% {
    transform: scale(1);
    background-color: #00bedabf;
  }
}

.pathFinder-node-wall {
  background-color: #00a0ff;
  background-color: #7d7d7d;
  background-color: #7f7171;
}

.pathFinder-node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #ffd700;
  }

  50% {
    transform: scale(1.2);
    background-color: #ffd700;
  }

  100% {
    transform: scale(1);
    background-color: #ffd700;
  }
}
