.number-input {
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 2rem;

  /* border: 1px solid #171b27;
    background-color: #212435;
    color: #b0b3bc; */
  border: 1px solid #595959;
  background-color: #ffffff;
  color: #363636;
  font-weight: 100;
}

.number-input:focus {
  outline: none;
  /* background-color: #12151c; */
  background-color: #f2f2f2;
}

.number-input:nth-of-type(3n) {
  border-right: 3px solid black;
}

.number-input:nth-of-type(1) {
  border-left: 3px solid black;
}

.row:nth-of-type(3n + 1) {
  border-top: 3px solid black;
}

.row:nth-of-type(9) {
  border-bottom: 3px solid black;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.sudukuSolver {
  width: 100%;

  width: 100%;
  display: flex;
  flex-direction: row;
  background-image: url("../../assets/images/Bg_individual.png");
  background-position: center;
  background-size: cover;
  font-size: 1.6rem;
}
