.number-input {
  width: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 3.4rem;

  /* border: 1px solid #171b27;
    background-color: #212435;
    color: #b0b3bc; */
  border: 1px solid #595959;
  background-color: #e7e7e7;
  color: #363636;
  font-weight: 550;
}

.number-input:focus {
  outline: none;
  /* background-color: #12151c; */
  background-color: #f2f2f2;
}

.number-input:nth-of-type(3n) {
  border-right: 3px solid black;
}

.number-input:nth-of-type(1) {
  border-left: 3px solid black;
}

.row:nth-of-type(3n + 1) {
  border-top: 3px solid black;
}

.row:nth-of-type(9) {
  border-bottom: 3px solid black;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.sudokuSolver {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-image: url("../../assets/images/Bg_individual.png");
  background-position: center;
  background-size: cover;
  font-size: 1.6rem;
}
.sudokuSolver_left {
  flex: 0.08;
}
.sudokuSolver_right {
  flex: 0.98;
}

.sudokuSolver_right_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* width: 100%; */
  padding: 0 2rem;
  height: 7.5rem;
}

.sudokuSolver_right_top_left_header {
  color: var(--grey);
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.sudokuSolver_right_top_right {
  display: flex;
}
.margin_right_2 {
  margin-right: 2rem;
}
.sudokuSolver_right_top_right_item_button {
  /* height: 3.3rem; */
  padding: 0.8rem 2rem;
  border: 2px solid var(--grey);
  color: var(--grey);
  font-size: 1.6rem;
  letter-spacing: 0.01rem;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
}
.fill_button {
  background-color: var(--grey);
  color: black;
}

.sudokuSolver_right_body {
  display: flex;
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
  height: 88%;
}
.sudokuSolver_right_body_left {
  display: flex;
  flex-direction: column;
  width: fit-content;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  flex: 1;
}
.sudokuSolver_right_body_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nqueen_right_body_right_bottom_para {
  letter-spacing: 0.09rem;
  line-height: 2.8rem;
}
